# Semana 05
Sebastian Timo Laura Antezana

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de Datos por teclado
5. Operadores

2. Variables

In [2]:
#Siempre deben iniciar con una letra o un guión abajo.(Nunca con un número u otro símbolo)

In [3]:
edad=41
edad

41

In [4]:
nombre="Sebastian"
nombre

'Sebastian'

In [6]:
apellido="Laura Antezana"
apellido

'Laura Antezana'

In [11]:
nombreCompleto = nombre +" "+ apellido
nombreCompleto

'Sebastian Laura Antezana'

In [12]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo:

In [13]:
numero = 50
type(numero)

int

In [14]:
type(nombre)

str

In [15]:
talla = 1.75
talla

1.75

In [17]:
type(talla)

float

In [20]:
# Para convertir un número en cadena utilizamos la función str()
numero = 100
cadena = str(numero)
cadena

'100'

In [21]:
type(cadena)

str

In [23]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [25]:
type(numero2)

int

In [26]:
# Para convertir una cadena en decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [27]:
type(numero2)

float