# Semana 05
Sebastian Timo Laura Antezana

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
#Universidad Nacional Tecnológica de Lima Sur
#0123456789                                   -3-2-1
#Los espacios en blanco se cuentan

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
cadena[-23]

'T'

In [10]:
# Para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [11]:
# Para saber el tamaño de una cadena utilizamos Len()
# Incluye espacios en blanco
len(cadena)

44

In [12]:
# Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [13]:
# Ojito............. Solo lo muestra porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [14]:
# Si deseara cambiarlo harías
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [15]:
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [16]:
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [18]:
#Para generar una lista utilizando un criterio de separación a partir de una cadena split()
# en este caso vamos a generar una lista de toda la cadena, utilizando como criterio de deparacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [21]:
#Forma clasica de concatenar con +
nombre = "Sebastian Laura"
print("Buenos días "+nombre)

Buenos días Sebastian Laura

In [22]:
#Utilizamos el format()
nombre = "Elsa Patito"
edad = 15
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Elsa Patito ya se que tienes 15 años

In [30]:
#Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.4f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.3333

In [31]:
#Dar formato con f
#La funcion f, esta disponible en la version 3.6
nombre = "Hans Esquirla"
edad = 12
print(f"Buenos dias {nombre}, ya sé que tienes {edad} años")

Buenos dias Hans Esquirla, ya sé que tienes 12 años

In [37]:
#Dar formato a numeros con muchos deciames con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333