# Semana 05
Sebastian Timo Laura Antezana

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
#5.1 OPERADORES ARITMÉTICOS
#Se tiene: +,-,*,/,%,**,//

In [13]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(f"La suma es {suma}")
print(f"La resta es {resta}")
print(f"La multiplicacion es {multiplicacion}")
print(f"La division es {division}")
print(f"El residuo es {residuo}")
print(f"La potencia es {potencia}")
print(f"El cociente es {cociente}")

La suma es 13
La resta es 7
La multiplicacion es 30
La division es 3.3333333333333335
El residuo es 1
La potencia es 1000
El cociente es 3

In [14]:
#5.2 OPERADORES DE ASIGNACIÓN
#Se tiene: =,+=,-=,*=,/=,**=
numero = 5
numero = numero + 3
print(numero)

8

In [15]:
numero = 5
numero += 3
print(numero)

8

In [16]:
#Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [19]:
numero = 5
numero **=3
print(numero)

125

In [20]:
#5.3 OPERADORES DE COMPARACIÓN
#Se tiene: ==, !=, <, >, <=, >=

In [24]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [22]:
# Con las cadenas funciona igual
nombre1 = "Sebastian"
nombre2 = "Sebastian"
nombre1 == nombre2

True

In [25]:
#5.4 OPERADORES LOGICOS
# Se tiene: and, or , not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [26]:
numero1 < numero2

True

In [27]:
#el Not invierte el resultado
not(numero1<numero2)

False

In [28]:
numero1<numero2 and numero3<numero4

True

In [29]:
#También puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [30]:
#5.5 OPERADORES DE PERTENENCIA
#Se tiene: in,not in

In [31]:
#Ejemplo
aula = ["Juan","Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [32]:
#¿Diego esta en el aula?
alumno1 in aula

False

In [33]:
#¿Juan esta en el aula?
alumno2 in aula

True

In [34]:
#¿Diego no esta en el aula?
alumno1 not in aula

True

In [35]:
#¿Juan no esta en el aula?
alumno2 not in aula

False

In [ ]:
#5.6 Operadores de Identidad
#Se tiene: is , is not

In [82]:
aula1 = ["Juan","Daniel","Ruben"]
aula2 = ["Juan","Daniel","Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [70]:
#¿aula3 comparta el mismo objeto que aula1?
aula3 is aula1

True

In [71]:
#¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [72]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [73]:
aula1.append("Diego")

In [74]:
#Al imprimir los elementos de la list aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [75]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [76]:
aula3 = aula2

In [77]:
print(aula3)

['Juan', 'Daniel', 'Ruben']

In [84]:
aula1.append("Diego")

In [85]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [86]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [87]:
print(aula2)

['Juan', 'Daniel', 'Ruben']